<div class="container mt-4">
  <h2>Lista de Productos</h2>
  <button class="btn btn-primary" (click)="crearProducto()">Nuevo Producto</button>
  <table class="table table-bordered table-hover mt-3">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Color</th>
        <th>Precio</th>
        <th>Cambios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.categoria }}</td>
        <td>{{ producto.color }}</td>
        <td>S/ {{ producto.precio }}</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" (click)="editarProducto(producto)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

