<div class="container">
  <h1>Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre del CLiente</th>
      <th scope="col">DNI</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody
   *ngFor="let client of clients"
    >
    <tr>
      <th scope="row">{{client.id}}</th>
      <td>{{client.nombres }} {{ client.apellidos}}</td>
      <td>{{client.dni}}</td>
      <td class="d-flex gap-2">
        <button class="btn btn-warning btn-sm" (click)="editClient(client.id)" > Editar</button>
        <button class="btn btn-primary btn-sm " (click)="facturarClient(client.id)" > Facturar</button>
      </td>
    </tr>
  </tbody>
</table>

<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
    </li>

    <li
      class="page-item"
      *ngFor="let page of [].constructor(totalPages); let i = index"
      [class.active]="currentPage === i + 1"
    >
      <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
    </li>
  </ul>
</nav>


</div>
