<div class="container mt-4" *ngIf="client">
  <h2>Actualizar CLiente</h2>

  <form (ngSubmit)="updateClient()">
    <div class="form-group mb-3">
      <label for="nombres">Nombres</label>
      <input
        type="text"
        class="form-control"
        id="nombres"
        [(ngModel)]="client.nombres"
        name="nombres"
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="apellidos">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="apellidos"
        [(ngModel)]="client.apellidos"
        name="apellidos"
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="dni">Dni</label>
      <input
        type="text"
        class="form-control"
        id="dni"
        [(ngModel)]="client.dni"
        name="dni"
        required
      />
    </div>

    <div class="form-group mb-3">
      <label for="direccion">direccion</label>
      <input
        type="text"
        class="form-control"
        id="direccion"
        [(ngModel)]="client.direccion"
        name="direccion"
        required
      />
    </div>


    <div class="form-group mb-3">
      <label for="telefono">Telefono</label>
      <input
        type="text"
        class="form-control"
        id="telefono"
        [(ngModel)]="client.telefono"
        name="telefono"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="email">email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        [(ngModel)]="client.email"
        name="email"
        required
      />

    </div>
<div class="form-group mb-3" *ngIf="client">
  <label for="tipoClienteId">Tipo de Cliente</label>
  <select
    id="tipoClienteId"
    class="form-select"
    [(ngModel)]="client.tipoClienteId"
    name="tipoClienteId"
    required
  >
    <option *ngFor="let type of clienttypes" [ngValue]="type.id">
      {{ type.nombre }}
    </option>
  </select>
</div>


    <button type="submit" class="btn btn-success">Actualizar</button>
    <button type="button" class="btn btn-secondary ms-2" (click)="goBack()">Regresar</button>
  </form>
</div>

<!-- Optional loading spinner -->
<div *ngIf="!client" class="text-center mt-5">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

